
@font-face {
  font-family: quantico;
  src: url("../resources/quantico/Quantico-Regular.woff");
}

body {
  background-color: #000000;
}

#title {
  background-color: #424544;
  color: #b4adad;
  font-family: quantico;
  text-align: center;
  border: 0.3em solid #212232;
  border-radius: 0.3em;
  max-height: 18%;
}

#battleGrid {
  background: url("../resources/rader.jpg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  display: inline-row;
  position: absolute;
  height: 50%;
  width: 95%;
  left: 2%;
  right: 2%;
  border-radius: 0.2em;
  border: 0.1em solid #212232;
}

.battlerow>td {
  background-color: #273029;
  opacity: 0.5;
  border-radius: 0.1em;
  height: 5%;
  width: 5%;
  overflow: hidden;
  display: table-cell;
  border: 0.1em solid #b4adad;
}

.battlerow>td:hover {
  border: 0.1em solid #1e990f;
  cursor: crosshair;
}

.battlerow>td:active {
  border: 0.1em solid red;
  background-color: red;
}

.battlerow>td:{
  border: 0.1em solid #e26d18;
  background-color: #e26d18;
}

/*
*
*
Terminal Styling
*
*
*
*/
#intelTerminal {
  position: absolute;
  background-color: #424544;
  border: 0.2em solid #1e990f;
  border-radius: 0.2em;
  bottom: 2%;
  right: 2%;
  left: 2%;
  min-height: 25%;
  max-width: 650px;
  width: 94%;
  font-family: quantico;
}

.cptnCnsl {
  color: #b4adad;
}

.terminalRow {
  display: vertical;
}


#intelLabel {
  postition: absolute;
  text-align: center;
  font-size: 1.2em;
  height: 10%;
}

#intelConsole {
  width: 96%;
  padding: 0% 2% 0% 2%;
  border-radius: 0.2em;
  background-color: black;
  text-align: center;
  color: #ff0000;
}


#fireConsole{
  background-color: #b4adad;
  border: none;
  font-family: inherit;
  margin-left: 10%;
  margin-right: 10%;
  min-width: 80%;
  color: #000000;
  text-align: center;
}


#rowButton {
  background-color: #1e990f;
  border: none;
  color: black;
  min-height: 2em;
  text-align: center;
  font-family: inherit;
  font-size: 1em;
  margin-left: 30%;
  margin-right: 5%;
  width: 10%;
}

#columnButton {
  background-color: #1e990f;
  border: none;
  color: black;
  min-height: 2.3em;
  font-size: 0.9em;
  font-family: inherit;
  width: 10%;
}

#groupButton {
  background-color: #1e990f;
  border: none;
  color: black;
  min-height: 2em;
  text-align: center;
  font-family: inherit;
  font-size: 1em;
  margin-left: 5%;
  margin-right: 20%;
  width: 10%;
}
