
@font-face {
  font-family: quantico;
  src: url("../resources/quantico/Quantico-Regular.woff");
}

body {
  background-color: #b4adad;
}

#title {
  font-family: quantico;
  text-align: center;
  border: 5px solid #212232;
  border-radius: 5px;
}

#battleField{
  background-color: #000000;
  display: inline-row;
}

#battlegrid {
  background-color: #000000;
  position: absolute;
  vertical-align: middle;
  display: inline-table;
  height 80%;
}

.col_1 {
  height: 10%;
  width: 10%;
  left: 0%;
  overflow: hidden;
}

.col_2 {
  height: 10%;
  width: 10%;
  overflow: hidden;
}

.col_3 {
  height: 10%;
  width: 10%;
  left: 0%;
  overflow: hidden;
}

.col_4 {
  height: 10%;
  width: 10%;
  left: 0%;
  overflow: hidden;
}

.col_5 {
  height: 10%;
  width: 10%;
  left: 0%;
  overflow: hidden;
}

.col_6 {
  height: 10%;
  width: 10%;
  left: 0%;
  overflow: hidden;
}

.col_7 {
  height: 10%;
  width: 10%;
  left: 0%;
  overflow: hidden;
}

.col_8 {
  height: 10%;
  width: 10%;
  left: 0%;
  overflow: hidden;
}

.col_9 {
  height: 10%;
  width: 10%;
  left: 0%;
  overflow: hidden;
}

.col_10 {
  height: 10%;
  width: 10%;
  left: 0%;
  overflow: hidden;
}

/* Terminal Styling */
#captainConsole {
  position: absolute;
  background-color: #424544;
  border: 3px solid #1e990f;
  border-radius: 5px;
  bottom: 5%;
  right: 2%;
  font-family: quantico;
}

.cptnCnsl {
  color: #b4adad;
}

#intelTerminal {
  display: table-cell;;
}

.terminalRow {
  width: inherit;
}

#intelLabel {
  postition: absolute;
  text-align: center;
  font-size: 20px;
}

#intelConsole {
  padding-left: 5px;
  padding-right: 5px;
  border: 1px solid #212322;
  border-radius: 5px;
  margin: 0px, 10px, 0px, 10px;
  width: max-content;
  background-color: black;
  color: #ff0000;
}

#captainTerminal {
  display: table-cell;
}

#fireConsole{
  background-color: #b4adad;
  border: none;
  font-family: inherit;
  margin-left: 10%;
  margin-right: 10%;
  width: 80%;
  color: #000000;
  text-align: center;
}


#fireButton {
  background-color: #1e990f;
  border: none;
  color: black;
  font-family: inherit;
  position: absolute;
  margin-left: 45%;
  margin-right: 45%;
  width: 10%;
}

#Result {
  white-space: nowrap;
  margin-top:7%;
  margin-bottom: 1%;
  border-radius: 5px;
  padding-left: 2%;
  padding-right: 2%;
  width: 100%;
  background-color: black;
  color: #ff0000;
  text-align: center;
}
